body {
  background: #838383;
}

h1 {
font-family: 'Comfortaa', cursive;
color: #fe9903;
}

h2 {
font-family: 'Comfortaa', cursive;
color: #bee0e9;
}

h3 {
font-family: 'Amatic SC', cursive;
color: #fffaff;
}


