div {
  background-image:
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6wfMIEI_xogM1aiEV7b02J0rwLHC9G9Sf61kGnlxtXUa-AnEQ");
}

h1 {
font-family: 'Comfortaa', cursive;
color: #fe9903;
text-align: center;
}

h2 {
font-family: 'Comfortaa', cursive;
color: #ff80ab;
text-align: center;
}

h3 {
font-family: 'Amatic SC', cursive;
color: #80bfaa;
font-size: 21pt;
text-align: center;
}

h4{
font-family: 'Amatic SC', cursive;
color: #80bfaa;
font-size: 17pt;
text-align: center;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: center;
}

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
